.header {
	background-color: $color-gray-dark;
	height: 100%;
	text-align: center;
	position: fixed;
	width: 4.375em;
}

	.header__logo {
		border-bottom: 1px solid #878789;
		display: inline-block;
		margin-top: 1.5em;
		margin-bottom: 1em;
		padding-bottom: 0.8em;
	}

	.header__navigation {
		ul {
			list-style: none;
		}
		width: 100%;
	}

	.header__navigation-item {

		&.header__navigation-item--logout {
			left: 0;
			right: 0;
			bottom: 1em;
			position: absolute;

			&:after {
				background-color: #878789;
				content: " ";
				height: 1px;
				left: 1em;
				top: 0;
				position: absolute;
				width: 2.1875em;
			}

			a {
				padding-right: 0.6em;
			}

		}

		a {
			border-left: 3px solid $color-gray-dark;
			display: block;
			padding-top: 1.2em;
			padding-bottom: 1em;
			padding-right: 3px;

			&:hover,
			&.active {
				border-left: 3px solid $color-purple;
				background-color: #101014;
			}
		}


	}
